.navbar-logo {
  font-family: "Hedvig Letters Serif", serif;
}

.navbar-links {
  font-family: "Hedvig Letters Serif", serif;
}

footer {
  font-family: "Hedvig Letters Serif", serif;
}

h2 {
  font-family: "Hedvig Letters Serif", serif;
}

h1 {
  font-family: "Hedvig Letters Serif", serif;
}

.create-post-button {
  font-family: "Hedvig Letters Serif", serif;
}
